In [68]:
import pandas as pd

In [69]:
df = pd.read_excel('Age_Range_Distribution.xlsx', sheet_name='Original Data by Segment')

In [70]:
df_fap_7_individual = df.loc[(df['Segment Name'] == 'Family and Parenting') & (df['month'] == 7) & (df['business_customer'] == 'Individual')]

In [71]:
df_fap_7_company = df.loc[(df['Segment Name'] == 'Family and Parenting') & (df['month'] == 7) & (df['business_customer'] == 'Company')]

In [72]:
df_fap_8_individual = df.loc[(df['Segment Name'] == 'Family and Parenting') & (df['month'] == 8) & (df['business_customer'] == 'Individual')]

In [73]:
df_fap_8_company = df.loc[(df['Segment Name'] == 'Family and Parenting') & (df['month'] == 8) & (df['business_customer'] == 'Company')]

In [74]:
df_fap_11_individual = df.loc[(df['Segment Name'] == 'Family and Parenting') & (df['month'] == 11) & (df['business_customer'] == 'Individual')]

In [75]:
df_fap_11_company = df.loc[(df['Segment Name'] == 'Family and Parenting') & (df['month'] == 11) & (df['business_customer'] == 'Company')]

In [76]:
df_fap_7_individual = df_fap_7_individual.drop(columns=['Segment Name', 'year', 'month', 'business_customer', 'no. enrich_audience'])

In [77]:
df_fap_7_individual

   age_range  no. label_audience  no. predict_audience
0    13 - 17               90185                 175.0
1    18 - 24               53008                 136.0
2    25 - 34                7315               52464.0
3    35 - 44                6850              159484.0
4    45 - 54                4131              291708.0
5    55 - 64                2576               54398.0
18   Unknown              558365                   NaN

In [78]:
df_fap_7_individual.dropna(inplace=True)

In [79]:
from scipy.stats import chi2_contingency

In [80]:
crosstab = pd.crosstab([df_fap_7_individual['no. label_audience'], df_fap_7_individual['no. predict_audience']], df_fap_7_individual['age_range'])
stat, p, dof, expected = chi2_contingency(crosstab)
print(stat, p, dof)

30.000000000000014 0.22428900483440342 25

In [81]:
df_fap_7_individual

  age_range  no. label_audience  no. predict_audience
0   13 - 17               90185                 175.0
1   18 - 24               53008                 136.0
2   25 - 34                7315               52464.0
3   35 - 44                6850              159484.0
4   45 - 54                4131              291708.0
5   55 - 64                2576               54398.0